body {
    background-color: lightblue;
    margin: auto;
  }
  
  h1, p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  p {
    font-family: Arial;
  }
  
  legend {
      font-family: Arial;
      text-align: center;
  }
  
  label[name="language"] {
    display: inline-block;
    
  }
  
  .user {
    display: block;
    padding: 5px;
    text-align: left;
  }
  
  #number-label {
    position: relative;
    left: 10px;
  }
  
  #submit {
    padding: 5px auto;
    margin: 5px;
    width: 15%;
  }
  
  
  fieldset {
    border: 5px dotted white;
  }